.chat-side {
  border: $side-border;
  width: 300px;
  height: 100vh;
  float: left;

  &__user {
    position: relative;
    border: $side-border;
    background-color: $darker;
    height: 15%;
    width: 100%;

    &-content {
      position: absolute;
      height: 50px;
      top: 0; bottom: 0;
      margin: auto 0;
      width: 100%;
      line-height: 50px;
    }

    &-name {
      position: relative;
      color: $white;
      font-size: 20px;
      font-weight: bold;
      margin: 0 20px;
      display: inline-block;
    }

    &-new-group {
      position: relative;
      color: $white;
      margin-left: 90px;
      display: inline-block;
    }

    &-edit-user {
      position: relative;
      color: $white;
      display: inline-block;
    }
  }

  &__groups {
    border: $side-border;
    height: 85%;
    width: 100%;
    background-color: $base;

    &-list {
      height: 100%;
      color: $white;
    }
  }

  &__group {
    padding:  20px 20px;

    &-name {
      font-size: 15px;
    }

    &-message {
      font-size: 11px;
    }

    &:hover {
      background-color: $lighter;
    }
  }
}
