@import './reset';
@import './mixin';
@import './valuables';
@import './side_bar';

html, body {
  max-height: 100%;
}

.wrapper {
  min-width: 960px;

  .notification {
    @include clearfix();
    position: fixed;
    height: 30px;
  }
}
